@import "./variables";
@import "./themes/color";

.btn {
  display: inline-block;
  font-family: $button-btn-font-family;
  font-weight: $button-btn-font-weight;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  padding: $button-btn-padding-y $button-btn-padding-x;
  line-height: $button-btn-line-height;
  font-size: $button-btn-font-size;
  border-radius: $button-btn-border-radius;
  border: $button-btn-border;
  margin: $button-btn-margin-x $button-btn-margin-y;

  &.btn-primary {
    color: $color-white;
    background: $color-primary-base;
    border-color: $color-primary-lighter;
  }

  &.btn-secondary {
    color: $color-white;
    background: $color-secondary-base;
    border-color: $color-secondary-lighter;
  }

  &.btn-success {
    color: $color-white;
    background: $color-success-base;
    border-color: $color-success-lighter;
  }
}