<template>
  <button class="btn" v-bind:class="classObject">
    {{text}}
  </button>
</template>

<script>
  /**
   * The only true button.
   * @displayName Best Button
   */
  export default {
    name: 'Button',
    props: {
      /**
       * The text for the button.
       */
      text: {
        type: String,
        default: 'Default'
      },

      /**
       * The type for the button.
       */
      btnType: {
        type: String,
        default: 'secondary'
      },
      /**
       * Gets called when the user clicks on the button
       */
      onClick: {
        type: Function,
        default: event => {
          console.log('You have clicked me!', event.target)
        }
      }
    },
    computed: {
      classObject: function () {
        return `btn-${this.btnType}`;
      }
    }
  }
</script>