<template>
  <div id="app">
    <h3 class="page-title">VueJS</h3>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <Button btnType="primary" text="Submit"/>
            </div>
          </div>
        </div> 

        <div class="col-sm">
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <Button btnType="secondary" text="Submit"/>
            </div>
          </div>
        </div>

        <div class="col-sm">


          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <Button btnType="success" text="Submit"/>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "../node_modules/bootstrap/scss/bootstrap.scss";
import './scss/main.scss';
import Button from './components/Button/Button.vue'

export default {
  name: 'App',
  components: {
    Button
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.page-title{
  text-align: center;
  margin-bottom: 50px;
}
</style>
